:root {
    --primary-color: #0A0A0A;
    --border-color: #D4D4D4;
    --secondary-color: #9A9A99;
    --background-color: #FAFAFA;

    --font-size-large: 20px;
    --font-size-medium: 18px;
    --font-size-small: 16px;
    --font-size-smaller:14px;

    --font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    }
    @supports (font-variation-settings: normal) {
    :root { font-family: InterDisplay, sans-serif; }
    }
  
body {
    color: var(--primary-color);
    font-family: var(--font-family);
    scroll-behavior: smooth;
    background-color: var(--background-color);
    margin-bottom: 100px;
}

p{
    line-height: 24px;
    margin: 5px 0 0;
}

h1{
    margin: 0 0 15px;
    font-size: 35px;
    line-height: 100%;
}

h2{
    font-weight: 500;
    font-size: var(--font-size-medium);
    margin-top: 25px;
}


.list-content{
    width: 100%;
    margin-left: 100px;
    margin-right: auto;
}
.no-doodle{
    margin-top: -26px;
}


.main{
    font-family: Inter, display;
    display: flex;
    flex-direction: column;
    margin-top: 136px;
    font-weight: 400;
}
.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    cursor: pointer;
}
.doodle{
    margin-left: -11px;
}

.hindi-name{
    display: none;
}

.hindi-title{
    line-height: 120%;
}

.content{
    display: grid;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}


.date{
    color: var(--secondary-color);
    font-size: var(--font-size-medium);
    position: relative;
    top: -13px;
}

.halka-sa-andar{
    margin-left: 6px;
}

.hamburger-icon{
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 20px; 
    z-index: 3; 
    transition: transform 0.1s ease; 
}

.menu-items {
    position: fixed; 
    top: 20px;
    right: 0; 
    width: 100%; 
    height: 100%;
    transform: translateX(100%);
    background-color: var(--background-color); 
    transition: transform 0.3s ease; 
    font-size: var(--font-size-small);
    z-index: 2; 
}

.menu-items.active {
    transform: translateX(0); 
    background-color: var(--background-color); 
}

.menu-items ul {
    list-style: none;
    padding: 20px;
    margin-left: 10px;
    text-align: right; 
    margin-top: 20px;
}

.menu-items li {
    padding: 5px 0;
}

.menu-items a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--font-size-small);
    white-space: nowrap;
}
.menu-items a:hover{
    color: var(--primary-color);
    transition: 0.75s ease;
}

.icon.active svg {
    transform: rotate(0); 
}
.navbar{
    margin-top: -60px;
}



.image-container img{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.caption{
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--font-size-smaller);
}

.article-list{
    margin-left: 7px;
}

.article-item {
    display: flex;
    padding: 7px 0 ;
    line-height: 15px;
}

.article-name {
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s ease;
}
.article-name:hover{
    color: var(--secondary-color);
}

.article-date {
    font-size: var(--font-size-medium);
    color: var(--secondary-color);

}

.category-button {
    background-color: transparent;
    color: var(--secondary-color); 
    border: none; 
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: var(--font-size-medium);
}

.category-button.active {
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
}

.category-button:hover {
    color: white;
    background-color: var(--secondary-color);
    
}
.btn-hide{
    display: none;
}
.pinned-articles{
    margin-bottom: 20px;
}
.pinned{
    cursor: pointer;
    display: flex;
    border: 2px solid #d4d4d4;
    border-radius: 12px;
    padding: 10px 4px;
    font-size: var(--font-size-small);
    justify-content: left;
    align-items: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
}
.pinned:hover{
    border-color: var(--primary-color);
    box-shadow: 2px 3px;
}
.pinned svg{
    margin-right: 6px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pinned:hover svg {
    animation: rotate 2s linear infinite;
}
.pinned-art-desktop{
    display: none;
}


.sidebar{
    display: none;
}

.sidebar ul {
    list-style: none;
    padding-left: 16px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.sidebar ul li a.active {
    color: var(--primary-color);
}

.sidebar ul li a:hover{
    color: var(--primary-color);
}

.menu-cat-btn{
    display: flex;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease;
}
a:hover{
    color: var(--secondary-color);
}

.image-grid{
    display: grid;
    column-gap: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.image-grid img {
    width: 100%;
    display: block;
    height: auto;
}
img {
    border-radius: 12px;
}

.profile{
    margin-bottom: 20px;
}
.profile p {
    margin-top: 1px;
}
.idol-page{
    display: block;
    margin: 0px 15px;
}
.idol-page img{
    width: 100%;
}

.hide-in-mob-tab{
    display: none;
}

summary {
    list-style: none;
    cursor: pointer;
}


summary::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.36391 5.56105L11.3137 0.611328L12.7279 2.02554L6.36391 8.38955L0 2.02554L1.41421 0.611328L6.36391 5.56105Z" fill="black"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    margin-right: 5px;
    
}

/* Rotate the icon when the details are open */
details[open] summary::before {
    transform: rotate(180deg);
}

.climbing-boy{
    position: fixed;
    bottom: -5px;
    left: 0;
    
}
.climbing-boy svg{
    width: 100px;
}

.hindi-poem{
    font-size: var(--font-size-medium);
    margin-top: 10px;
}
.english-poem{
    font-size: var(--font-size-small);
}



@media (max-width: 600px) {
    p{
        line-height: 24px;
        margin: 1px 0 0;
    }
    .image-grid {
        grid-template-columns: 1fr;
    }
    .content{
        margin-left: 10px;
        margin-right: 10px;
    }
    .list-content{
        width: 100%;
        margin-left: 10px;
        margin-right: auto;
    }

    .article-item {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
    }

    .article-name {
        margin-bottom: 5px; /* Add some space between the name and date */
        margin-right: 15px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .image-grid {
        grid-template-columns: 1fr 1fr; /* Two columns */
    }
    .article-date{
        padding-left: auto;
        position: absolute;
        right: 40px;
    }
    .navbar{
        margin-top: 0px;
        margin: -11px 40px 0px 100px;
        
    }
}

@media (min-width: 901px) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr; /* Three columns */
    }
    .idol-page {
        display: flex;
    }
    .idol-page img{
        margin: 50px 0 0 -170px;
    }
    .idol-page-content{
        margin: 37px 30px;
    }
    .navbar{
        margin-top: 0px;
        margin: -11px 0px 0px 100px;
        
    }
    .doodle{
        margin-top: 10px;
    }
    
}




@media (min-width: 768px) {
    .space-left{
        margin-left: 150px;
    }
    .hide-in-mob-tab{
        display: block;
    }
    .main{
        flex-direction:row;
    }
    

    .hamburger-icon {
        display: none; 
    }
    .hindi-name{
        display: block;
    }
    .logo{
        display: none;
    }

    .menu-items {
        position: static; 
        transform: none;
        width: max-content;
    }

    .menu-items ul {
        display: flex;
        flex-direction: column;
        padding: 0; 
        text-align: left;
    }
    
    .article-date{
        position: absolute;
        right: 30px;
    }

    .hide-in-desk {
        display: none;
    }
    .menu-cat-btn{
        display: flex;
        position: fixed;
        flex-direction: column;
        color: var(--secondary-color);
        margin: -12px 0 0 -21px;
    }
    .category-button svg{
        stroke: var(--secondary-color);
        transition: stroke 0.3s ease;
    }
    .category-button:hover svg{
        stroke: var(--primary-color);
    }
    .sidebar{
        display: block;
    }

    .menu-cat-btn a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: var(--font-size-small);
    }
    .menu-cat-btn button{
        font-size: var(--font-size-small);
    }

    .menu-cat-btn svg {
        margin-right: 5px;
    }
    .category-button{
        font-size: var(--font-size-medium);
        margin: -5px 0;
        text-align: left;
    }
    .category-button.active{
        color: var(--primary-color);
        background-color: transparent;
    }
    .category-button:hover{
        background-color: transparent;
        color: var(--primary-color);
    }
    .btn-hide{
        display: block;
        text-decoration: none;
        margin-bottom: 8px;
    }
    .pinned-articles{
        display: none;
    }
    .pinned-art-desktop{
        display: block;
        position: fixed;
        bottom: 20px;
        width: 210px;
        height: 171px;
        border: 1px solid var(--border-color);
        border-radius: 12px;
        margin-left: -50px;
    }
    .pinned-art-desktop svg{
        padding: 10px 0 3px 10px;
    }
    
}
